[Unit]
Description=LnOS Auto-start Installer
After=getty@tty1.service
ConditionPathExists=/usr/local/bin/lnos-autostart.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-lnos-autostart.sh
ExecStart=/usr/local/bin/lnos-autostart.sh
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TimeoutSec=300

[Install]
WantedBy=multi-user.target

